{% extends "GuillaumeRacineBundle::layout.html.twig" %}
{% block inmenu %}
    <ul class="nav navbar-nav">
    <li class="active"><a href="{{path("guillaume_racine_homepage")}}">Home</a></li>
    <li><a href="{{path("guillaume_twig_homepage")}}">Vers Twig</a></li>
    <li><a href="">Vers Crud</a></li>
</ul>
{% endblock %}
{% block incorps %}
    <h1>Bienvenue !</h1>
    <p>Ceci est mon site pour le test final, il contiendra (peut-être) tous ce que le formateur a demander.</p>
{%endblock %}